.nav-1{
    position: absolute;
    margin-left: 0px;
    border:0px #9acfea;
    margin-top: 0px;
    width:200px;
    height:350%;
    font-size: 30px;
    background-color: #404040;
}
.content{
   position: absolute;
    margin-left: 200px;
    margin-right: 0px;
    width:200px;
    height:608px;
}

#search {
    float: right;
    margin-top: 9px;
    width: 250px;
}

.search {
    padding: 5px 0;
    width: 230px;
    height: 30px;
    position: relative;
    right : 10px;
    margin-top:-50px;
    float: right;
    line-height: 22px;
}

.search input {
    position: absolute;
    width: 0px;
    float: Left;
    margin-left: 210px;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
    height: 30px;
    line-height: 18px;
    padding: 0 2px 0 2px;
    border-radius:1px;
}

.search:hover input, .search input:focus {
    width: 200px;
    margin-left: 0px;
}

#btn-1 {
    height: 30px;
    position: absolute;
    right: 0;
    top: 5px;
    border-radius:1px;
}

#image {
    background-color:#404040;
}

#buttons {
    display: inline-block;
    border-radius: 4px;
    background-color: #404040;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 8px;
    width: 180px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 1px;
}

#buttons span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#buttons span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#buttons:hover span {
    padding-right: 20px;
}

#buttons:hover span:after {
    opacity: 1;
    right: 0;
}

.user-1{
    position:absolute;
    background-color: #494949;
    margin-left: 0%;
    margin-top:-50%;
    height:17%;
    width:100%;
}

body {
	font-family: 'Lato', sans-serif;
}
a {
	color: #b71a4c;
}
.front-indicator { //screen
	width: 200px;
	margin: 5px 32px 15px 32px;
	background-color: #696969;	
	color: #ffffff;
	text-align: center;
	padding: 15px;
	border-radius: 5px;
}
.wrapper {
	width: 100%;
	text-align: center;
}
.container {
	margin: 0 auto;
	width: 1500px;
	text-align: left;
}
.booking-details {
	float: left;
	text-align: left;
	margin-left: 35px;
	font-size: 12px;
	position: relative;
	height: 401px;
}
.booking-details h2 {
	margin: 25px 0 20px 0;
	font-size: 17px;
}
.booking-details h3 {
	margin: 5px 5px 0 0;
	font-size: 14px;
}
div.seatCharts-cell {
	color: #182C4E;
	height: 50px;
	width: 50px;
	line-height: 50px;
	
}
div.seatCharts-seat {
	color: #FFFFFF;
	cursor: pointer;	
}
div.seatCharts-row {
	height: 60px;
}
div.seatCharts-seat.available {
	background: url("image/add.png");

}
div.seatCharts-seat.available.first-class {
 	background: url("image/add.png"); 
	/*background-color: #3a78c3;*/
}

div.seatCharts-seat.focused {
	background: url("image/seat vip2.png");
}
div.seatCharts-seat.selected {
	background: url("image/seat vip.png");
}
div.seatCharts-seat.unavailable {
	background: url("image/seat unavailable.png");
}
div.seatCharts-container {
	border-right: 1px dotted #adadad;
	width: 1100px;
	padding: 20px;
	float: left;
}
div.seatCharts-legend {
	padding-left: 10px;
	bottom: 0;
}
ul.seatCharts-legendList {
	padding-left: 0px;
}
span.seatCharts-legendDescription {
	margin-left: 5px;
	line-height: 50px;
}
.checkout-button {
	display: block;
	margin: 10px 0;
	font-size: 14px;
}
#selected-seats {
	max-height: 200px;
	overflow-y: scroll;
	overflow-x: hidden;
	width: 100px;
}
#iframe{
    position: absolute;
    margin-left: 200px;
    margin-top: 0;
	background-color:#494949;
    /*margin: 0 auto;*/
}

/*.btn {*/
    /*margin-left: 100px;*/
/*}*/

.btn span {
    display: block;
    position: relative;
    margin-left: -5px;
    margin-top: -5px;
}
#div1 {
    white-space: nowrap;
}
#film{
    position: absolute;
    margin-left: 460px;
    margin-top: 100px;
    width:250px;
    height:300px;
}

#div2{
    white-space: nowrap;
}
#add_film{
    white-space: nowrap;
}
#delete-1{
    position: relative;
    display: inline-block;

    /*margin-left: 0px;*/
    margin-top: 0px;
    margin-right: 0px;

    width: 40px;
    height:30px;
}
#modify-1{
    position: relative;
    display: inline-block;
    margin-left: 0px;
    margin-right: 0px;
    width: 40px;
    height:30px;
}

#add-1{
    position:relative;
    margin-right: 100%;
    margin-top: 2%;
    margin-left: 78%;
}

#button_submit{
    position: relative;
    margin-left: 70%;
    margin-top: 20%;
}
#tabel_1{
    position: absolute;
    margin-left: 0;
    margin-bottom: 0;
    border: 1px solid #000000;
}


#table-body{
    background:#454545;
}
#login{
    text-align: center;
    margin-left: 400px;
    margin-top: 150px;//在这里居中会出现问题
}

#user{
    text-align: left;
}
body{
    background-color: #494949;
}
#cancel{
    margin-left: 40px;
}
#black{
    margin-top: 50px;
}
#s1{
    color: red;
}
.button-film {
  display: inline-block;
  padding: 10px 18px;
  font-size: 12px;
  cursor: pointer;
  text-align: center;   
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #494949;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  position:abslute; 
}

.button-film:hover {background-color: #696969}

.button-film:active {
  background-color: #696969;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}